*{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  
}


.loading, .playground, .game-page, .lost-background, .win-background{
  width: 100vw;
  height: 100vh;
  position: relative;
  

}
.loading h1{

 font-size: 4rem;
 position: absolute;


 color: rgb(239, 95, 42);
 text-align: center;
 background-color: transparent;

  font-family: "Titan One", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-style: normal;
 

 animation: typing 4s steps(8, end) forwards, blink 0.7s step-end infinite;
 


}

.loading video, .playground video, .game-page video, .lost-background video, .win-background video{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
 .audio {
cursor: pointer;
position: fixed;
bottom: 20px;
    color: white;
    width: 20px;
    height: 20px;
   
 
    border-radius: 50%;
    background-color: white;
    padding: 1rem;
    color: black;
    z-index: 9999;


}
.intro{
  display: flex;

width: 80%;
margin:auto;


  transform: translateY( 150%); 
  opacity: 0;
  animation: slideIn 2s ease-out forwards ;
  /* with forward element will remain their after animation finish*/
  
}
@keyframes slideIn{
    to {
    transform: translateY(10%);
    opacity: 1;
  }
}



.intro div:first-child{


  width: 300px;
  height: 300px;
  border:white 1px solid;
  border-radius: 20px;
  overflow: hidden;
  flex-basis: 30%;
  box-shadow: 10px 10px 30px 20px rgb(239, 95, 42);;
   min-width: 150px;
  

}
.intro div:first-child img{
  width: 100%;
  min-width: 200px;
  height: 100%;
 
 
  
}
.intro div:nth-child(2){
 background: linear-gradient(90deg, rgb(243, 74, 74) 0%, rgb(162, 103, 218) 78%, rgb(123, 93, 242) 100%);
  height: 80%;
  min-height: 250px;
  position: relative;
  top: 40px;
  padding:6px;
  border-radius: 20px;
  border:1px solid white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.intro div:nth-child(2) p{
  color: white;
  text-shadow: 2px 2px 5px gray;

  font-family:cursive;
  font-size: 1.7rem;
}
.intro div:nth-child(2) span{
 display: inline-block;
 margin: 1rem ;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: lighter;
 color:rgb(162, 191, 13);
 border:1px solid white;
 border-radius: 10px;
 background-color: lightgray;
 padding: 1rem;
 color:rgb(13, 13, 55);
}

.levels{
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin:auto;

left:0;
right: 0;
z-index: 9999; /* it was present on the screen but not interactable because of ovelaping*/
transform: translateY(500px);
 
 
  animation: slideInButton 2s ease-out forwards ;
}
.levels button{
  cursor: pointer;
  transition: ease-in-out 0.7s;
 background: linear-gradient(90deg, rgb(243, 74, 74) 0%, rgb(162, 103, 218) 78%, rgb(123, 93, 242) 100%);;
 color:white;
}
.levels button:hover{
  transform: translateY(-20px)
}
@keyframes slideInButton{
    to {
    transform: translateY(100px);
    opacity: 1;
  }
}


  

.scores{
  display: flex;
  justify-content: space-around;
}
.play{
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;

}
.play button{
  padding: 5px;
  font-size: 2rem;
  font-weight: 600;
    border-radius: 10px;
}
.level{
  display: flex;
  
  justify-content: space-around;
  width: 30%;
  margin:auto;
  gap:1rem;
  

}
.levels button{
  font-size:1.5rem;
  padding:0.5rem;
  font-weight: 500;
  font-style: oblique;
border:none;
font-family: cursive;

  
    border-radius: 10px;

}
.scores{
  display: flex;
  justify-content: left;
  text-align: center;

  gap: 1rem;
  padding:0.4rem;

  
}

.scores div{
 background: linear-gradient(90deg, rgb(243, 74, 74) 0%, rgb(162, 103, 218) 78%, rgb(123, 93, 242) 100%);;
width: 150px;
border-radius: 15px;
display: flex;
color:white;

flex-direction: column;
}

.scores div span{
  font-size: 1rem;
  font-family: cursive;
}
.popup-ovelay{
  position: fixed;
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.176);
  display: flex;
  justify-content: center;

  z-index: 999;
}
.popup {

  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-family: 'Courier New', Courier, monospace;
  color:white;
      position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
 
}
.popup span{
  font-family: cursive;
  font-size: 1.5rem;;
}
.popup h1{
  color:white;
  font-size: 4rem;

}
.popup button{
  border-radius: 35px;
  border:none;
  padding:1rem;
  font-size: 1.5rem;
   font-weight: 600;
  

  margin-top:5rem;
     background: linear-gradient(90deg, rgb(243, 74, 74) 0%, rgb(162, 103, 218) 78%, rgb(123, 93, 242) 100%);
     color:white;
}
.btn{
  display: flex;
  justify-content: space-around;
  gap:3rem;
  flex-wrap: wrap;
}

.btn button{
  display: flex;
align-items: center;
padding:1rem;
  gap:2rem;
}

.btn button i{
  color:yellow;
  background-color: black;
  padding:0.5rem;
  border-radius: 50%;
}
.btn button i{
  color:rgb(20, 63, 236);
  background-color: black;
  padding:0.5rem;
  border-radius: 50%;
}

/********************** CARD FILIPPING CSS **********************************/

.main-cards{
  width: 90%;
  margin:auto;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 grid-auto-rows: minmax(200px, auto);
 row-gap:2rem;
 column-gap: 1rem;
 left:0;
 right: 0;
 top: 80px;
 

}
.card-scene {
  max-width: 200px;
  height: 100%;

  perspective: 1000px;
}

.card {
  max-width:200px ;
  min-width: 120px;
  height: 100%;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.5s ease-in-out;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(243, 74, 74, 0.658) 0%, rgba(162, 103, 218, 0.79) 78%, rgba(123, 93, 242, 0.669) 100%);;
  border-radius: 10px;
    border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
 
  transition: 500ms ;
  transition: 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
    will-change: transform;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);

  
  
}
.card:hover{
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale3d(1.05, 1.05, 1.05);

}


.card.flipped {
  transform: rotateY(180deg);
}
.card-face {
  position: absolute; /**  to ovelap each other  relative to card*/
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 10px;
}
/* .card-front,
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.card-front img,
.card-back img {
  width: 100%;
  height: 100%;


}
.card-scene h6{
  text-align: center;
  color:white;
  text-shadow: 2px 2px 10px white;
  font-size: 1.2rem;
 background: linear-gradient(90deg, rgb(243, 74, 74) 0%, rgb(162, 103, 218) 78%, rgb(123, 93, 242) 100%);;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-back {
  transform: rotateY(180deg);
}
/************************************************************/

.main-cards> div{

  border-radius: 10px;
 
  z-index: 9999;
}
.header{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
 

 
  
}
.header h1{
  font-size: 3rem;
  color:orangered;
 font-family: "Titan One", sans-serif; ;
  text-shadow: 5px 5px 10px white;
  z-index: 99;
  
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor blinking */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.aduio{
  position:  absolute;
  z-index: 999;
  color: black;
  background-color: white;
  border-radius: 50%;
}
.aduio i{
    color: black;
  background-color: white;
}
body{
background: linear-gradient(90deg, rgb(243, 74, 74) 0%, rgb(162, 103, 218) 78%, rgb(123, 93, 242) 100%); 
}
.leave{
  font-size: 5rem;
  text-align: center;
  color:white;
  text-shadow: 5px 5px 20px white;
  font-family: cursive;
 font-weight: 900;
}

@media (max-width: 480px){
  .loading h1{
    font-size: 2rem;
  }
  .header h1{
font-size: 1rem;
width: 100;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  .intro{
    flex-direction: column;
    margin:0;
    width: 90%;
    margin: auto;
    
  }
  .intro div:first-child{
    box-shadow: none;
    max-width: 220px;

    margin:auto;
  }
  .intro div:first-child img{
   width: 100%;
  
  }
  .intro div:nth-child(2){
 top:10px;
 min-height: 0;
 width: 70%;
 margin: auto;

  }
  .intro div:nth-child(2) p{
    font-size: 10px;
  }
  .intro div:nth-child(2) span{
    font-size: 10px;
  }
  .levels{
    flex-direction: column;
    gap:1rem;
    transform: translateY(70px )!important;
  }

}
@media (max-width:570px){
  .main-cards{
      width: 100%;
  margin:auto;


  display: flex;
flex-direction: row;
flex-wrap: wrap;
gap:1rem;
 
  }
  .card{
    height: 150px;
   
    min-width: 100px !important;
 
  }
}

